{% load staticfiles %}
{% load i18n %} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Giovanni M Guidini (code+design); Julio Cesar Paranhos (design)">
    <link rel="shortcut icon" href="{% static 'images/bioinfo.png' %}">
    <link rel="stylesheet" href="{% static 'Proteins/css/w3.css'%}">
    <script src="{% static 'Proteins/js/errorMessage.js' %}"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    {% block header %}
    {% endblock %}

    <style>
        .footer{
            width: 100%;
            height: 200px;
            bottom: 0;
            left: 0;
            flex: 0 0 auto;
            -webkit-flex: 0 0 auto;
        }

        .discrete {
            text-decoration: none;
        }

        body, h1, h2, h3{
            font-family: 'Quicksand', sans-serif;
        }

        p {
            overflow: hidden;
        }
    </style>
</head>
<body onload="main()">
        <div id="navbar" class="w3-bar w3-indigo" style="overflow: visible;">
            <a href="http://www.biomol.unb.br/" class="w3-bar-item w3-button w3-mobile w3-hover-green"><img style="width: 4.6em" src="{% static 'images/image.png' %}" alt="Logo do Laboratório de Bioinformática - UnB"></a>
            <a href="{% url 'url_index' %}" class="w3-bar-item w3-button w3-mobile w3-xlarge w3-padding-16 w3-hover-green">{% trans "Pesquisar" %}</a>
            <a href="{% url 'url_about' %}" class="w3-bar-item w3-button w3-mobile w3-xlarge w3-center w3-padding-16 w3-hover-green">{% trans "Sobre o Projeto" %}</a>
                        
        </div>
    {% block content %}
    {% endblock %}

    <footer class="footer w3-mobile">
            <div class="w3-container w3-bar w3-indigo">
                <div class="w3-row">
                    <div class="w3-col s5 m5 l5 w3-bar-item w3-mobile">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3839.7037250052904!2d-47.86766128572242!3d-15.766804926475968!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935a3ba32e6855e5%3A0x73e3929ef291262c!2sMolecular+Biology+Bioinformatics+Laboratory!5e0!3m2!1spt-BR!2sbr!4v1534292870998" frameborder="0" style="border:0; padding: 1em; width: 95%;" allowfullscreen></iframe>
                    </div>
                    <div class="w3-col s3 m3 l3 w3-bar-item w3-mobile" style="flex-wrap: wrap;">
                        <h3> Laboratório de Bioinformática - UnB </h3>
                        <hr style="margin-right: 20%;">
                        <p><a href="http://www.biomol.unb.br/" target="_blank"> <i class="fas fa-globe-americas"></i>&nbsp;www.biomol.unb.br/</a></p>
                        <p><i class="fas fa-phone"></i> (61) 3107-2922</p>
                    </div>
                    <div class="w3-col s4 m4 l4 w3-bar-item w3-mobile">
                        <h3>{% trans "Pesquisadores" %}</h3>
                        <hr style="margin-right: 20%;">
                        <p><a href="https://cic.unb.br/~mia/index.html" class="discrete">Prof. Maria Emília Walter, PhD</a> </p>
                        <p> <a href="http://w2.ifg.edu.br/formosa/index.php/docentes/47-docente/157-waldeyr-mendes-cordeiro-da-silva" class="discrete">Waldeyr Mendes Cordeiro da Silva, PhD</a></p>
                        <p> <a href="https://github.com/Gguidini" class="discrete">Giovanni M Guidini, Student</a> </p>

                    </div>
                </div>
            </div>
    </footer>
</body>
</html>