{% load staticfiles %}

<th class="w3-center transcript-row">
  <label>Transcript</label>
  <input
    class="w3-input w3-green w3-text-white w3-border w3-round"
    type="search"
    id="transcript-input"
    placeholder="Filter..."
    oninput="fieldUpdate('transcript', event)" 
  />
</th>

<th class="w3-center uniprot-row">
  <label>Uniprot</label>
  <input
    class="w3-input w3-green w3-text-white w3-border w3-round"
    type="search"
    id="uniprot-input"
    placeholder="Filter..."
    oninput="fieldUpdate('uniprot', event)" 
  />
</th>

<th class="w3-center annotation-row">
  <label>Annotation</label>
  <input
    class="w3-input w3-green w3-text-white w3-border w3-round"
    type="search"
    id="annotation-input"
    placeholder="Filter..."
    oninput="fieldUpdate('annotation', event)" 
  />
</th>

<th class="w3-center arach-row">
  <label>Arachnoserver</label>
  <input
    class="w3-input w3-green w3-text-white w3-border w3-round"
    type="search"
    id="arachnoserver-input"
    placeholder="Filter..."
    oninput="fieldUpdate('arachnoserver', event)" 
  />
</th>

<th class="w3-center origin-row">
  <label>Origin</label>
  <div class="w3-row">
    <div class="w3-third">
      <label for="Spider">
        <img src="{% static 'Proteins/images/spider_icon.png' %}" alt="Aranha" class="img-icon w3-round"></img>
      </label>
      <input
        class="w3-check"
        type="checkbox"
        id="Spider"
        onclick="fieldUpdate('spider', event)"
        checked
      />
    </div>
    <div class="w3-third">
      <label for="Scorpion">
        <img src="{% static 'Proteins/images/scorpion_icon.png' %}" alt="Escorpião" class="img-icon w3-round"></img>
      </label>
      <input
        class="w3-check"
        type="checkbox"
        id="Scorpion"
        onclick="fieldUpdate('scorpion', event)"
        checked
      />
    </div>
    <div class="w3-third" style="display: block;">
      <label for="Wasp">
        <img src="{% static 'Proteins/images/wasp_icon.png' %}" alt="Vespa" class="img-icon w3-round"></img>
      </label>
      <input
        class="w3-check"
        type="checkbox"
        id="Wasp"
        onclick="fieldUpdate('wasp', event)"
        checked
      />
    </div>
  </div>
</th>