{% for item in data %}
<tr onclick="location.href='{% url 'url_detail' item.pk %}'">
  <td class="transcript-row">{{item.pk}}</td>
  <td class="uniprot-row">{{item.uniprot_accession}}</td>
  <td class="annotation-row">{{item.uniprot_annotation|cut:"RecName: Full="|cut:";"}}</td>
  <td class="arach-row">{{item.arachnoserver_annotation}}</td>
  {% if 'Scorpion' in item.pk %}
    <td class="origin-row">Scorpion</td>
  {% elif 'Wasp' in item.pk %}
    <td class="origin-row">Wasp</td>
  {% else %}
    <td class="origin-row">Spider</td>
  {% endif %}
</tr>
{% empty %}
<tr>
  <td colspan="6"> Sorry, no item matched the filters :/</td>
</tr>
{% endfor %}
<span class="w3-hide" id="sizeFromServer">{{size}}</span>