{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block header %}
<title>Sobre</title>
<script src="{% static 'Proteins/js/detail.js'%}"></script>
<link rel="stylesheet" href="{% static 'Proteins/css/about.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<style>
.title_bkgd {
    background-image: url('{% static "Proteins/images/inova_background.png" %}');
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 20em;
}
</style>
{% endblock %}

{% block content %}

{% trans "Escorpião" as scorpio %}
{% trans "Vespa" as wasp %}
{% trans "Aranha" as spider %}
{% trans "Fonte: " as source %}

<div class="w3-row title_bkgd">
    <div class="w3-center w3-row w3-container" style="padding: 1em;display: block;">
        <h1>{% trans "Anotação e visualização de sequências de transcritos da peçonha de artrópodes da Região Centro-Oeste" %}</h1>
        <h1>
    </div>
    <div class="w3-container w3-center">

            <div class="w3-card w3-white" style="display:inline-block;">
                <header class="w3-white">
                    <p class="card_header_up">{{scorpio}}</p>
                    <p class="card_header_down">(Tityus fasciolatus)</p>
                </header>
                <div>
                    <img class="w3-image image_header" src="{% static 'Proteins/images/scorpio.png' %}" alt="Tityus fasciolatus">
                </div>
            </div>

            <div class="w3-card w3-white w3-margin-left w3-margin-right w3-margin-top" style="display:inline-block">
                <header class="w3-white">
                    <p class="card_header_up">{{wasp}}</p>
                    <p class="card_header_down">(Polybia sp)</p>
                </header>
                <div>
                    <img class="w3-image image_header" src="{% static 'Proteins/images/wasp.jpg' %}" alt="Polybia sp">
                </div>
            </div>

            <div class="w3-card w3-white" style="display:inline-block">
                <header class="w3-white">
                    <p class="card_header_up">{{spider}}</p>
                    <p class="card_header_down">(Acanthoscurria paulensis)</p>
                </header>
                <div>
                    <img class="w3-image image_header" src="{% static 'Proteins/images/spider.jpg' %}" alt="Acanthoscurria paulensis">
                </div>
            </div>
        </div>
</div>

<div class="w3-row">
    <div class="w3-col m2 stick" id="side-bar">
        <div class="w3-bar w3-bar-block w3-ul"> 
            <a href="#inova" class="scrollto"><li class="w3-large">Inovatoxin</li></a>
            <a href="#pipe" class="scrollto"><li class="w3-large">Pipeline</li></a>
            <a href="#scorpio" class="scrollto"><li class="w3-large">{{scorpio}}</li></a>
            <a href="#wasp" class="scrollto"><li class="w3-large">{{wasp}}</li></a>
            <a href="#spider" class="scrollto"><li class="w3-large">{{spider}}</li></a>
        </div>
    </div>

    <div class="w3-col m10" id="main-content">

        <section class="w3-container" id="inova">
            <h2>Inovatoxin</h2>
            <hr>

            <p>{% trans 'Projeto proposto pela Prof. Elisabeth Schwartz, a Rede Temática de Pesquisa <a style="color: #3f51b5;" href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4784824E4#ProjetosPesquisa">Inovatoxin</a> realiza estudos em larga escala da peçonha de aranhas caranguejeiras, vespas e escorpiões da região Centro-Oeste brasileira, possibilitando a descoberta de novos compostos neuroativos, antimicrobianos e imunomoduladores. A Rede Temática inclui a Universidade de Brasília, Universidade Federal de Goiás e Universidade Federal do Mato Grosso do Sul.' %}</p>

            <p>{% trans 'Através das pesquisas e descobertas possibilitadas pela Rede de Pesquisa, novos produtos farmacológicos podem ser desenvolvidos, incluindo aplicações terapêuticas, toxicologia e estudos não clínicos.' %}</p>

            <p>{% trans 'Os princípios da Rede em sua fase atual - fase 2 - são: formar recursos humanos e produzir conhecimento científico, tecnológico e de inovação em peçonhas de animais da Região Centro-Oeste, contribuindo para o desenvolvimento sustentável da região.' %}</p>

        </section>
        <section class="w3-container" id="pipe">
            <h2>Pipeline</h2>
            <hr>

            <p>{% trans 'Um <em>pipeline computacional</em> pode ser visto como uma sequência de tarefas necessárias para a análise de sequências genéticas. Cada tarefa, ainda que independente, necessita de passos anteriores para poder ser realizada e produz algum dado que pode ser usado por uma tarefa subsequênte. Neste projeto foi feita análise do transcritoma e artrópodes da região Centro-Oeste brasileira. Nosso pipeline foi dividido em 3 fases: <b>filtragem</b>, <b>montagem</b> e <b>anotação</b>.' %}</p>

            <img src="{% static 'Proteins/images/pipe.png'%}" alt="Esquema de um pipeline" class="image w3-image">

            <p>{% trans 'Na fase de <b>filtragem</b> procura-se eliminar erros e contaminações do processo de sequenciamento (feito em laboratório para obter as sequências), para que o conjunto de dados tenha uma qualidade mínima para as fases subsequêntes. Com isso obtemos um conjunto mais confiável de <em>reads</em>, que são pequenos pedaços de transcritos.' %}</p>

            <p>{% trans 'Na fase de <b>montagem</b> as <em>reads</em> são agrupadas em pedaços maiores, chamados <em>contigs</em>, que são predições de transcritos.' %}</p>

            <p>{% trans 'Finalmente, na fase de <b>anotação</b> esses <em>contigs</em> são comparados a contigs já anotados de bancos de dados confiáveis. Assim, temos informações sobre a função biológica dos nossos contigs, que estão disponibilizadas neste site.' %}</p>

            <div class="w3-panel w3-indigo w3-round-large w3-mobile">
                <h3> <i class="material-icons">info</i>&nbsp;{% trans 'Técnicas e Dados' %}</h3>
                <p>{% trans 'Neste pipeline usamos a técnica <em>de novo</em> para montagem dos transcritomas.' %}</p>
                <p>{% trans 'As sequências para Escorpião e Vespa foram sequenciadas em sequenciador Illumina, paired-end em três pares de arquivos. As sequências para Aranha foram sequênciadas em sequenciador 454 Rocher, single-end em um único arquivo.' %}</p>
            </div>

            <p>{% trans 'Para mais informações sobre este projeto entre em contato com os pesquisadores.' %}</p>
        </section>

        <section class="w3-container" id="scorpio">
            <h2> <img src="{% static 'Proteins/images/scorpion_icon.png' %}" alt="{{scorpio}}" class="img-icon w3-circle"> {{scorpio}} (<em>Tityus fasciolatus</em>)</h2>
            <hr>
            <div class="w3-row">
            <div class="W3-center">
                <img class="w3-card-4 w3-image image" src="{% static 'Proteins/images/scorpio.png' %}" alt="Tityus fasciolatus">
            </div>
            <p>{% trans 'Em áreas de Cerrado, predominantemente na região Centro-Oeste, encontra-se o escorpião <em> Tityus fasciolatus</em>, que ocorre também em Goiás e Minas Gerais e é responsável por eventuais acidentes nestas regiões. Possui de 4,5 a 7cm de comprimento e padrão de coloração marrom e amarela, com três listras marrons na região dorsal e listras nas pernas e palpos. São termófilos (preferem locais quentes) e vivem associados a cupinzeiros do gênero Armitermes.' %}</p>

            <p>{% trans 'O escorpião <em>Tityus fasciolatus</em> faz parte da família Buthidae, que contém espécies causadoras de envenenamentos graves em humanos. As moléculas responsáveis pelos efeitos mais severos são conhecidas como neurotoxinas que, em sua maioria, são componentes peptídicos cujos principais alvos são os canais iônicos, os quais são relevantes para o funcionamento dos diversos sistemas orgânicos. Os compostos relacionados aos envenenamentos por peçonhas de escorpiões são conhecidos por agirem com especificidade nos canais iônicos.' %}</p>

            <p class="w3-small w3-pale-gray">{{source}}<br> <a href="http://www.cabv.com.br/uploads/_gc_Repositorio/2017_10_12/tityus-fasciolatus.pdf">Tityus fasciolatus, por Raphael Guimarães</a> <br> <a href="http://repositorio.unb.br/handle/10482/18119">TCAMARGOS, Thalita Soares. Prospecção da peçonha do escorpião Tityus fasciolatus sob a perspectiva proteômica e transcritômica, e caracterização biológica de peptídeos moduladores de canais de Na+. 2014. 83, xix f., il. Tese (Doutorado em Biologia Animal)—Universidade de Brasília, Brasília, 2014.</a></p>
            </div>
        </section>

        <section class="w3-container" id="wasp">
            <h2> <img src="{% static 'Proteins/images/wasp_icon.png' %}" alt="Vespa" class="img-icon w3-circle"> {{ wasp }} (<em>Polybia sp</em>)</h2>
            <hr>
    
            <div class="w3-row">

                    <img class="w3-card-4 w3-image image" src="{% static 'Proteins/images/wasp.jpg' %}" alt="Polybia sp">

            <p>{% trans 'Polybia é um gênero de vespas sociais encontradas da América Central à América do Sul (México até Brasil, Argentina). Utilizadas também como agentes do controle biológico natural do bicho-mineiro do cafeeiro, por serem seus predadores.' %}</p>

            <p>{% trans 'Vespas Sociais são um componente incrível de biomas da fauna brasileira. Além da complexidade de seu comportamento social e da diversidade arquitetônica de seus ninhos, esses insetos são predadores importantes de outros insetos em ecosistemas Neotropicais. Além disso, várias espécies de vespas são consumidoras de carcaças de animais mortos.' %}</p>

            <p class="w3-small w3-pale-gray">Fontes: <a href="http://www.sapc.embrapa.br/arquivos/consorcio/spcb_anais/simposio1/Pragas26.pdf">SELETIVIDADE DE INSETICIDAS A Polybia sp. (HYMENOPTERA:
                VESPIDAE), PREDADOR DO BICHO-MINEIRO DO CAFEEIRO</a> <br>
            <a href="https://en.wikipedia.org/wiki/Polybia">Wikipedia</a> <br>
            <a href="http://www.scielo.br/scielo.php?script=sci_arttext&pid=S0085-56262011000400017">Social wasps of two Cerrado localities in the northeast of Maranhão state, Brazil (Hymenoptera, Vespidae, Polistinae)</a></p>
            </div>
        </section>

        <section class="w3-container" id="spider">
            <h2> <img src="{% static 'Proteins/images/spider_icon.png' %}" alt="Aranha" class="img-icon w3-circle"> {{ spider }} (<em>Acanthoscurria paulensis</em>)</h2>
            <hr>
            <div class="w3-row">

                    <img class="w3-card-4 w3-image image" src="{% static 'Proteins/images/spider.jpg' %}" alt="Acanthoscurria paulensis">

                <p><em>Acanthoscurria paulensis</em> {% trans 'é uma espécie de aranha pertencente à família <em>Theraphosidae</em> (tarântulas). É uma espécie tipicamente brasileita, principalmente encontrada na região Centro-Oeste. Também conhecida como  Mato Grosso Red Rump ou Brazilian Giant Black.' %}</p>

                <p>{% trans 'Possui comportamento moderadamente agressivo, apresenta habito errante, gosta da temperatura média de 25ºC e umidade em cerca de 70%. Podem viver até 15 anos, e são maiores do que 15cm. Sua dieta inclui grilos,  baratas e gafanhotos, podem eventualmente comer filhotes de roedores.' %}</p>

                <p class="w3-small w3-pale-gray">{{source}}<a href="http://ahbcaresheet.blogspot.com/2012/05/apresentacao-especie-tipica-do-brasil.html">Aracno Hobby Brasil, por VINI HANSSER</a></p>
                <p class="w3-small w3-pale-gray">{{source}}<a href="https://www.tarantupedia.com/theraphosinae/acanthoscurria/acanthoscurria-paulensis">Tarantupedia&#8482;</a></p>
            </div>
        </section>

    </div>
</div>
{% endblock %}