{% extends 'base.html' %}
{% load staticfiles %}

{% block header %}
<title>{{ p.pk }}</title>
<script src="{% static 'Proteins/js/detail.js'%}"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="{% static 'Proteins/css/detail.css'%}">

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  var transcript_id = "{{p.pk|safe}}";
  var uniprot_accession = "{{p.uniprot_accession|safe}}"

  var url_uniprot = "{% url 'url_uniprot' %}"
  var url_orfs = "{% url 'url_orfs' %}"
  var url_blast = "{% url 'url_blast' %}"
</script>
{% endblock %}

{% block content %}
<div class="w3-row">
    <div class="w3-col m2 l2 s4 stick" id="side-bar">
        <div class="w3-bar w3-bar-block w3-ul"> 
            <a href="#overview" class="scrollto"><li class=" w3-large side-bar">Overview</li></a>
            <a href="#sequence" class="scrollto"><li class=" w3-large side-bar">Sequence</li></a>
            <a href="#blast" class="scrollto"><li class=" w3-large side-bar">Blast Hits</li></a>
            <a href="#uniprot" class="scrollto"><li class=" w3-large side-bar">External References</li></a>
            <a href="#pfam" class="scrollto"><li class=" w3-large side-bar">PFAM</li></a>
        </div>
    </div>

    <div class="w3-col m10 l10 s8" id="main-content">

        <section class="w3-container" id="overview">
            <h2 class="section-title">Overview</h2>
            <div class="w3-container">
                <p>Uniprot Annotation: <span>{{ p.uniprot_annotation|cut:"RecName: Full="|cut:";" }}</span></p>
                {% if p.arachnoserver_annotation is not None %}
                <p>Arachnoserver Annotation: <span>{{p.arachnoserver_annotation}}</span></p>
                {% endif %}
               
                <p>Blast Hits: <span id="blast_hits_number"></span></p>
                <p>External Refences: <span id="external_refs_number"></span></p>
                <p>PFAM Hits: <span id="pfam_hits_number"></span></p>

            </div>
        </section>  

        <section class="w3-container" id="sequence">
          <h2 class="section-title">Sequence</h2>
          <div class="w3-container">

            <p>Size: <span>{{ p.sequence|length }}</span></p>
            <div class="w3-container">
                <button class="w3-button w3-indigo w3-round-large" onclick="Copy('seq')"> Copy <i class="far fa-clipboard"></i> </button>
                <div class="w3-code" id="seq" style="overflow-y: auto; max-height: 100px;">
                    {{p.sequence}}
                </div>
            </div>
          </div>
        </section>

        <section class="w3-container" id="blast">
          <h2 class="section-title">Blast Hits</h2>
          <div class="w3-container" id="blast_refs">

          </div>

        </section>

        <section class="w3-container" id="uniprot">
          <h2 class="section-title">External References</h2>
          <div class="w3-container" id="uniprot_refs">

          </div>
        </section>

        <section class="w3-container" id="pfam">
          <h2 class="section-title">PFAM</h2>

          <div class="w3-container" id="pfam_ref">
          
          </div>
        </section>
        <section class="w3-container" id="goinfo">

        </section>

    </div>
</div>
{% endblock %}