{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block header %}
<title>Pesquisa</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
<link rel="stylesheet" href="{% static 'Proteins/css/index.css' %}">
<link rel="stylesheet" href="{% static 'Proteins/css/spinner.css' %}">
<script src="{% static 'Proteins/js/index.js' %}"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
    const spider_icon = "{% static 'Proteins/images/spider_icon.png' %}";
    const scorpio_icon = "{% static 'Proteins/images/scorpion_icon.png' %}";
    const wasp_icon = "{% static 'Proteins/images/wasp_icon.png' %}";
</script>
{% endblock %}

{% block content %}
{% get_current_language as LANGUAGE_CODE %}
<div class="w3-container">
    
    <div class="w3-row">
            <div class="w3-container w3-center w3-hide w3-show" id="spinner-div">
                <i class='fas fa-spinner w3-xlarge w3-spin'></i>&nbsp;
                <span class="w3-xlarge" style="line-height: inherit">Loading...</span>
            </div>
    </div>
    
    <div id="paginator-top" class="w3-container w3-row w3-center">
        <button class="w3-btn w3-round-xlarge" onclick="nextPage(-1)">
            <i class="material-icons">arrow_back</i>
        </button>
        &nbsp;
        <span id="currpage_top">
            0
        </span>
        &nbsp;
        /
        &nbsp;
        <span id="totalsize_top">
            0
        </span>
        &nbsp;
        <button class="w3-btn w3-round-xlarge" onclick="nextPage(1)">
            <i class="material-icons">arrow_forward</i>
        </button>
    </div>

    <div id="content-root" class="w3-container w3-margin">
        <table class="w3-table w3-striped w3-bordered w3-hoverable  w3-round">
            <thead id="table-header" class="w3-container w3-green">
                {% include "Proteins/components/indexTable/indexTableHeader.html" %}
            </thead>
            <tbody id="table-body">

            </tbody>
        </table>

        <div id="paginator-bottom" class="w3-container w3-row w3-center">
            <button class="w3-btn w3-round-xlarge" onclick="nextPage(-1)">
                <i class="material-icons">arrow_back</i>
            </button>
            &nbsp;
            <span id="currpage_bottom">
                0
            </span>
            &nbsp;
            /
            &nbsp;
            <span id="totalsize_bottom">
                0
            </span>
            &nbsp;
            <button class="w3-btn w3-round-xlarge" onclick="nextPage(1)">
                <i class="material-icons">arrow_forward</i>
            </button>
        </div>
    </div>
</div>
{% endblock %}