{% load staticfiles %}

<ul class="w3-ul" id="pfam-list">
  {% for item in items %}
    <li>
      <div class="w3-row">
        <div class="w3-col w3-half">
          <p>PFAM: {{item.pfam}}</p>
        </div>
        <div class="w3-col w3-half">
          <p>
            SignalP:
            {% if item.signal in 'OTHER' %}
              <i class='far fa-times-circle'></i>
            {% else %}
              <i class='far fa-check-circle'></i>
            {% endif %}
          </p>
        </div>
      </div>
      <p>Domain: {{item.hmmer_domain}}</p>
      <p>Description: {{item.hmmer_domain_description}}</p>
      <p>E-value: {{item.seq_e_value}}&nbsp;Score: {{item.seq_score}}</p>
    </li>
  {% empty %}
    <li><p>No references found :/</p></li>
  {% endfor %}
</ul>