{% load staticfiles %}

<ul class="w3-ul" id="blast-list">
  {% for item in items %}
    <li>
      <p>{{item.fullaccession}}</p>
      <p>E-value: {{item.evalue}}&nbsp;Percent Identity: {{item.percentidentity}}</p>
      <p>Source: {{item.databasesource}}</p>
    </li>
  {% empty %}
    <li><p>No references found :/</p></li>
  {% endfor %}
</ul>