{% load staticfiles %}

<ul class="w3-list" id="uniprot-list">
  {% for item in items %}
    <li>
      {% if item.attributetype in 'T' %}
        Taxonomy ID&nbsp;-&nbsp;
      {% endif %}
      {{item.linkid}}
    </li>
  {% empty %}
    <li><p>No references found :/</p></li>
  {% endfor %}
</ul>