.img-icon {
width: 3.5em;
}

.scrollto {
    scroll-behavior: smooth;
}

.stick {
position: -webkit-sticky; /* Safari */
position: sticky;
top: 0;
}

a:link {
    text-decoration: none;
}

li:hover {
    border-left: 5px #4CAF50 solid;
    color: #4CAF50;
}

.image {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image_header {
    display: inline-block;
    width: 10em;
    height: 20em;
    object-fit: cover;
}

.card_header_up {
    color: dimgray;
    font-size: 11pt;
}

.card_header_down {
    color: dimgray;
    font-size: 10pt;
    margin-top: -10%;
}
@media only screen and
    (max-width: 600px) {
    #side-bar {
        display: none;
    }

    #main-content {
        width: 100%;
    }
}