.img-icon {
    width: 3.5em;
    }

.scrollto {
    scroll-behavior: smooth;
}

.stick {
position: -webkit-sticky; /* Safari */
position: sticky;
top: 0;
}

.section-title {
    border-bottom: 2px lightgray solid;
}

.side-bar:hover {
    border-left: 5px #4CAF50 solid;
    color: #4CAF50;
}

a {
    text-decoration: none;
}

.icon {
    font-size: 3em;
}

p {
    font-family: monospace;
    overflow: hidden;
}

span {
    font-family: 'Microsoft Yi Baiti', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media only screen and
    (max-width: 600px) {
    #side-bar {
        display: none;
    }

    #main-content {
        width: 100%;
    }
}