.img-icon {
    width: 2.2em;
    margin: 3px;
}

.icon {
    font-size: 2.5em;
}

.origin-row {
    width: 136px !important;
    min-width: 136px;
}

@media only screen and
  (max-width: 1100px) {

    #content-root {
        overflow-x: scroll;
    }

    td {
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .transcript-row {
        max-width: 180px !important;
        min-width: 150px !important;
    }

    .uniprot-row {
        max-width: 100px !important;
        min-width: 90px !important;
    }

    .annotation-row {
        max-width: 180px !important;
        min-width: 150px !important;
        max-height: 50px !important;
        overflow: hidden;
    }

    .arach-row {
        max-width: 180px !important;
        min-width: 150px !important;
    }
}